<!DOCTYPE html>
<html lang="PT-BR"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Próxima Fase</title>
    <link rel="stylesheet" th:href="@{/fase/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <p>Monstro derrotado com sucesso!!</p>
    <a th:href="@{/batalha/iniciar-jogo}">PRÓXIMA FASE</a>
    <a href="">FIM DE JOGO</a>
</body>
</html>