*{
    font-family: 'Press Start 2P', cursive;
}

.nomeMonstro{
    font-size: 100%;
}


.hpMonstro{
    color:white;
    display: inline-block;
    font-size: large;
}

h1{
    color: white;
}
body{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.interface{
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border: 4px solid white;
    padding: 2px 5px;
    font-size: 50%;
    min-width: 200px;
    width: 50%;
    border-radius: 150px;
    height: 10%;
    font-size: medium;
}
.interface .informacao{
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: white;
}

.textoCritico{
    color: red;
}
.textoBotao{
    font-size: 80%;
}
.botaoAtaque{
    display: block;
    background-color: white;
    transition: 1s;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #333;
    margin:  auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.botaoAtaque:hover{
    transform: scale(0.9);
    cursor: pointer;
}
#logTurno{
    margin:20px;
    font-size: large;
    color:white;
    padding: 2px 5px;
    text-align: center;
}
