<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragão Flamejante</title>
    <link rel="stylesheet" th:href="@{/battles/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Kraken Abissal</h1>
    <img  th:src="@{/battles/krakenAbissal.png}" alt="Imagem da Batalha" width="1024" height="1024">
    <div class="interface">
        <div class="informacao">
            <p>ATAQUE: </p>
            <p> 30  </p>
            <p class="textoCritico"> (1/3 Chance de Crítico)</p>
        </div>
        <div class="informacao">
            <p>HP: </p>
            <p id="hp"></p>
        </div>
    </div>
    <ul>
        <li>
            <h1>CLIQUE NO CÍRCULO PARA ATACAR</h1>
            <a href="" class="botaoAtaque" onclick="executarTurno(event)"></a>
        </li>
    </ul>



    <script>
        function atualizarHP() {
            fetch('/jogador/retornarHP')
                .then(res => res.text())
                .then(hp => {
                    document.getElementById('hp').innerText = hp;
                });
        }

        function verificarFimDeBatalha() {
            fetch('/monstro/retornarHP')
                .then(res => res.text())
                .then(hpMonstro => {
                    const hpM = parseInt(hpMonstro);
                    if (hpM <= 0) {
                        document.getElementById('logTurno').innerText += "\n Monstro derrotado!!";
                        setTimeout(() => {
                            window.location.href = "/batalha/finalizar";
                        }, 2000);
                    } else {
                        fetch('/jogador/retornarHP')
                            .then(res => res.text())
                            .then(hpJogador => {
                                const hpJ = parseInt(hpJogador);
                                if (hpJ <= 0) {
                                    document.getElementById('logTurno').innerText += "\nVocê foi derrotado!! Fim de jogo.";
                                    setTimeout(() => {
                                        window.location.href = "/batalha/finalizar";
                                    }, 2000);
                                }
                            });
                    }
                });
        }

        function executarTurno(event) {
            event.preventDefault();

            fetch('/batalharetorno/turno', { method: 'PUT' })
                .then(res => res.text())
                .then(texto => {
                    document.getElementById('logTurno').innerText = texto;
                    atualizarHP();
                    verificarFimDeBatalha();
                })
                .catch(err => {
                    document.getElementById('logTurno').innerText = "Erro no turno: " + err.message;
                });
        }

        atualizarHP();
        setInterval(atualizarHP, 2000);
    </script>
</body>
</html>