<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golem de Obsidiana</title>
    <link rel="stylesheet" th:href="@{/battles/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Golem de Obsidiana</h1>

    <div>
        <p class="hpMonstro">HP do Monstro:</p>
        <p class="hpMonstro" id="hpMonstro"></p>
    </div>



    <img th:src="@{/battles/golemObsidiana.png}" alt="Imagem da Batalha" width="1024" height="1024">
    <div id="logTurno"></div>
    <div class="interface">
        <div class="informacao">
            <p>ATAQUE: </p>
            <p> 30  </p>
            <p class="textoCritico"> (1/3 Chance de Crítico)</p>
        </div>
        <div class="informacao">
            <p>HP: </p>
            <p id ="hpJogador"></p>
        </div>
    </div>
    <ul>
        <li>
            <h1>CLIQUE NO CÍRCULO PARA ATACAR</h1>
            <a href="" class="botaoAtaque" onclick="executarTurno(event)"></a>
        </li>
    </ul>

    <script>
        const botaoAtaque = document.querySelector('.botaoAtaque');
        let batalhaEncerrada = false;

        function atualizarJogadorHP() {
            fetch('/jogador/retornarHP')
                .then(res => res.text())
                .then(hp => {
                    const hpFormatado = Math.max(parseInt(hp), 0);
                    document.getElementById('hpJogador').innerText = hpFormatado;
                });
        }

       function atualizarMonstroHP() {
            fetch('/monstro/retornarHP')
                .then(res => res.text())
                .then(hpMonstro => {
                    const hpFormatadoMonstro = Math.max(parseInt(hpMonstro), 0);
                    document.getElementById('hpMonstro').innerText = hpFormatadoMonstro;
                });
        }

        function verificarFimDeBatalha() {
            fetch('/monstro/retornarHP')
                .then(res => res.text())
                .then(hpMonstro => {
                    const hpM = Math.max(parseInt(hpMonstro), 0);
                    document.getElementById('hpMonstro').innerText = hpM;

                    if (hpM <= 0) {
                        document.getElementById('logTurno').innerText += "\nMonstro derrotado!!";
                        botaoAtaque.style.pointerEvents = 'none';
                        botaoAtaque.style.opacity = '0.5';
                        batalhaEncerrada = true;
                        setTimeout(() => {
                            window.location.href = "/batalha/finalizar";
                        }, 2000);
                    } else {
                        fetch('/jogador/retornarHP')
                            .then(res => res.text())
                            .then(hpJogador => {
                                const hpJ = Math.max(parseInt(hpJogador), 0);
                                document.getElementById('hpJogador').innerText = hpJ;

                                if (hpJ <= 0) {
                                    document.getElementById('logTurno').innerText += "\nVocê foi derrotado!! Fim de jogo.";
                                    botaoAtaque.style.pointerEvents = 'none';
                                    botaoAtaque.style.opacity = '0.5';
                                    batalhaEncerrada = true;
                                    setTimeout(() => {
                                        window.location.href = "/batalha/finalizar";
                                    }, 3500);
                                }
                            });
                    }
                });
        }

            function executarTurno(event) {
                event.preventDefault();

                fetch('/batalharetorno/turno', { method: 'PUT' })
                    .then(res => res.text())
                    .then(texto => {
                        document.getElementById('logTurno').innerText = texto;
                        atualizarJogadorHP();
                        atualizarMonstroHP();
                        verificarFimDeBatalha();
                    })
                    .catch(err => {
                        document.getElementById('logTurno').innerText = "Erro no turno: " + err.message;
                    });
            }
            atualizarMonstroHP();
            atualizarJogadorHP();
    </script>
</body>
</html>