<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ínicio</title>
    <link rel="stylesheet" th:href="@{/home/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <h1>RPG - Um Projeto utilizando Spring Boot</h1>
    <img th:src="@{/home/home.png}" alt="Tela Inicial" height="1024px" width="1024px">
    <a th:href="@{/batalha/iniciar-jogo}">INICIAR JOGO</a>
</body>
</html>